//mixins

@mixin banner {
    color: white;
    position: relative;
    width: 100%;
    .banner-content{
        position: absolute;
        top: 50px;
        width:100%;
    }
    img{
        width: 100%;
    }
    span{
        font-size: $banner-heading;
        font-weight: bold;
        display: block;
        text-transform: uppercase;

    }
    span.title{
        font-weight: normal;
        margin-bottom: 30px;
    }
}